body{
  font-family: 'Montserrat', sans-serif;
}


#movies img, #movie img{
  width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}

#movies h2 {
  font-size: 16px;
  text-align: center;
   font-family: 'Montserrat', sans-serif;
}

#movies .well {
  text-align: center;
}